.card{
    width: 100%;
     max-width: 700px;
      background-color: rgba(61, 61, 61, 0.338);
}

.mb-3{
    color: white;
}

.text-muted{
    color: white !important;
}

.container{
    height: 80vh !important;
}